<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Online store</title>
</head>
<body>
    <div class="content">
        <div>
            {% for row in data %}
                <tr>
                    <td><p>Name. {{row[0]['name']}}</p></td>
                    <td><p>Price. {{row[1]['value']}}</p></td>
                </tr>
                <hr>
            {% endfor %}
        </div>
        <form action="{{ url_for('submit_event') }}" method="post" enctype="multipart/form-data">
            <label for="event">Event name: </label>
            <input type="text" id="event" name="event" /><br>
            <input type="submit" id="send-signup" name="signup" value="Update" />
        </form>
    </div>
</body>
</html>